<div id="showLinks">
 	<%- if user_signed_in? %>
	<%= link_to 'Edit', edit_gist_path(@gist) %> 
	<%- end %>
	<%= link_to 'Back', gists_path %>
</div>
<p>
  <strong>Lang:</strong>
  <%= @gist.lang %>
</p>
<p>
  <strong>Description:</strong>
  <%= @gist.description %>
</p>
<p>
  <strong>Snippet:</strong>
  <div class="highlight2" ><%= raw Pygments.highlight(@gist.snippet, lexer: @gist.lang) %></div>
</p>
