<!DOCTYPE html>
<html>
<head>
  <title>MyGists</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="header">
		<div id="hwraper">
			<div id="head">
				<h1><img src="http://s4.postimg.org/4j38affex/scissors.png" alt="logo">My gists</h1>
			</div>
			<div id="menu">
				<%- if user_signed_in? %>
				<%= link_to 'New Gist', new_gist_path %>
				<%- end %>
				<%= link_to 'List', gists_path %>
				<%= link_to 'Find Gists', gists_search_path %>
			</div>
		</div>
	</div>
	<div id="userWraper">
		<%= render 'common/session' %>
	</div>
	<div id="wraper">
		<%= yield %>
	</div>
	<div id="footer">&copy;<%= Time.now.year %> by <%= link_to 'Kacper Czechowicz', 'https://github.com/kipperek' %></div>
</body>
</html>
